@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="border:black 5px solid">    
    <div style="border:red 5px ;">
     Contacto 
    </div>
 <div>
<form action="">
    <div>
    <label>Nombre</label><br>
    <input name="nombre" type="text">
    </div>
    <div>
    <label>Apellido</label><br>
    <input name="apellido" type="text">
    </div>
    <div>
    <label>Correo</label><br>
    <input name="correo" type="text">
    </div>
    <div>
    <label>Teléfono</label><br>
    <input name="telefono" type="text">
    </div>
    <div>
    <label>Asunto</label><br>
    <input name="asunto" type="text">
    </div>
    <div class="form-group">
    <label>Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="mensaje" rows="3"></textarea>
  </div>
    <button>Enviar</button>
</form>
</div>
</div>
      



